= form_for [topic, bookmark] do |f|
  - if bookmark.errors.any?
    .alert.alert-danger
      %h4
        There are
        = pluralize(bookmark.errors.count, "error")
      %ul
        - bookmark.errors.full_messages.each do |msg|
          %li
            = msg
  .form-group
    = f.text_field :url, class: 'form-control' 'new-bookmark', autofocus: true, placeholder: "Enter a url to save a new bookmark.", size: 50
    &nbsp
    = f.submit "Save", class: 'btn btn-primary', onclick: "blocmetricsReport('bookmark update')"
