%header
  .navbar.navbar-fixed-top.custom-color
    .container
      %nav
        - if current_user
          %ul
            .nav.navbar-nav.navbar-left
              %li
                = link_to "All Bookmarks", bookmarks_path
              %li
                = link_to "By Topic", topics_path    
        %ul
          .nav.navbar-nav.navbar-right
            - if current_user
              %li
                = link_to "Hello, #{current_user.name.capitalize}!", current_user
              %li
                = link_to "Settings", edit_user_registration_path(current_user)
              %li
                = link_to "Sign out", destroy_user_session_path, method: :delete
            - else
              %li
                = link_to "Sign in", new_user_session_path
              %li
                = link_to "Sign up", new_user_registration_path
            %li
              = link_to "About", about_path

